<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/styles.css" rel="stylesheet">
    <title>Steam Achievement Picker</title>
  </head>
  <body>
    <div>
      <header>
        <h1>
          <a href="/">Vapour</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/achievements">My Achievements</a>
            <button id="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>