<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Steam Achievement Picker</title>
  </head>

<body class="bg-gray-50">
    <div>
        <header>
            <!-- nav bar sticky top z  -->
            <nav class="sticky top-0 z-50 flex w-full items-center justify-between flex-wrap bg-sky-700 p-6">
                <h1 class="font-semibold text-slate-50 text-3xl tracking-tight">
                    <a href="/">Vapour</a>
                </h1>

                <div class="justify-end">

                    <a href="/achievements"
                        class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4">My
                        Achievements</a>
                    <button id="logout"
                        class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4">Logout</button>

                    <a href="/login"
                        class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4">Login</a>

                </div>
            </nav>
        </header>

        <main>



            <!-- main container  -->
            <!-- margin top  -->
            <div class="container mx-auto bg-white shadow-lg rounded-lg px-5 mt-40">

                <!-- container for random picker  -->
                <section class="random-generator-container border-b-2 pb-3">
                    <div>
                        <!-- padding top  -->
                        <h3 class="flex justify-center text-xl font-semibold mt-10 pb-2 pt-4">
                            Not sure what to play next?
                        </h3>
                        <!-- padding bottom  -->
                        <div class="flex justify-center pb-3">
                            <button type="submit"
                                class="generator-btn bg-indigo-500 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Help
                                me pick a game</button>
                        </div>
                    </div>
                </section>

                <h2 class="flex justify-center text-xl font-semibold mt-10">Select from one of your games:</h2>
                <!-- container for owned game picker  -->
                <section class="owned-games-container grid grid-cols-4 gap-4 m-3 mb-12 p-6">

                    <div class="card1 border rounded bg-white shadow-lg p-3">
                        <div>
                            <h4>Game Name Goes Here</h4>
                        </div>
                        <div><img src="" alt="Game Image" /></div>
                    </div>

                    <div class="card2 border rounded bg-white shadow-lg p-3">
                        <div>
                            <h4>Game Name Goes Here</h4>
                        </div>
                        <div><img src="" alt="Game Image" /></div>
                    </div>

                    <div class="card3 border rounded bg-white shadow-lg p-3">
                        <div>
                            <h4>Game Name Goes Here</h4>
                        </div>
                        <div><img src="" alt="Game Image" /></div>
                    </div>

                    <div class="card4 border rounded bg-white shadow-lg p-3">
                        <div>
                            <h4>Game Name Goes Here</h4>
                        </div>
                        <div><img src="" alt="Game Image" /></div>
                    </div>
                </section>

            </div>
        </main>
    </div>
  
   
    <script src="/js/logout.js"></script>
   
  </body>

</html>