<div
  class="my-achievements-container flex flex-col justify-center items-center mt-5"
>
  <div class="title-div my-5">
    <h2 class="font-bold text-xl">My Achievements</h2>
  </div>
  <div class="game-images-container flex flex-row my-10">
    <img
      src="/images/The Witcher- Enhanced Edition (1).png"
      alt="the witcher game logo"
      class="mx-5 achievement-name-container"
    />
    <img
      src="/images/Fallout- New Image.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Europe Universalis IV.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/sid meier's civilization v.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Stranded Deep.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Cities- Skylines.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Battle Brothers.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Hollow Knight.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
  </div>
  {{#each achievements as |achievement|}}
    <div
      class="achievement-name-container flex border rounded bg-white shadow-lg p-3 my-2 mx-5"
    >
      <h4>{{achievement.name}}</h4>
    </div>
  {{/each}}
</div>

<script src="/js/add-feedback.js"></script>