<div class="my-achievements-container flex flex-col justify-center items-center mt-5">
  <div class="title-div my-5">
    <h2 class="font-bold text-xl">My Achievements</h2>
  </div>
{{#each achievements as |achievement|}}
  <div class="achievement-name-container flex border rounded bg-white shadow-lg p-3 my-5">
    <h3>{{achievement.name}}</h3>
  </div>
{{/each}}
</div>


{{#if loggedIn}}
<script src="/js/gamesdropdown.js"></script>
{{/if}}
