<section class="random-generator-container">
  <div>
    <h3>
      Not sure what to play next?
    </h3>
    <div>
      <button type="submit" class="generator-btn">Help me pick a game</button>
    </div>
  </div>
</section>

<section class="owned-games-container">
  <div class="card1">
    <div><h4>Game Name Goes Here</h4></div>
    <div><img src="" alt="Game Image" /></div>
  </div>
  <div class="card2">
    <div><h4>Game Name Goes Here</h4></div>
    <div><img src="" alt="Game Image" /></div>
  </div>
  <div class="card3">
    <div><h4>Game Name Goes Here</h4></div>
    <div><img src="" alt="Game Image" /></div>
  </div>
  <div class="card4">
    <div><h4>Game Name Goes Here</h4></div>
    <div><img src="" alt="Game Image" /></div>
  </div>
</section>