<div>
    <div class="text-center bg-gray-50 text-slate-100 py-24 px-6 bg-cover bg-no-repeat bg-center"
        style="background-image: url('../public/images/vapour-bg-nc2.png');">
        <div>
            <h1 class="animate-pulse text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mt-72 mb-20">Welcome to
                Vapour</h1>
        </div>
        <div>
            <h4 class="text-2xl md:text-3xl xl:text-4xl font-bold tracking-tight mb-12">Track. Achieve. Repeat.</h4>
        </div>
        <a class="hover:animate-bounce inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Get started</a>
    </div>
</div>