<div>
  <div>
    <h2>Login</h2>
  </div>

  <form class="login-form">
    {{!-- <div>
      <label>Username</label>
      <input type="text"/>
    </div> --}}

    <div>
      <label for="email-login">Email</label>
      <input id="email-login" type="email"/>
    </div> 

    <div>
      <label for="password-login">Password</label>
      <input id="password-login" type="password"/>
    </div>

    <button type="submit">Login</button>
    <a href="/signup">Sign up instead</a>
    
  </form>
</div>

<script src="/js/login.js"></script>