<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/styles.css" rel="stylesheet" />
    <!-- tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>

    <title>Steam Achievement Picker</title>
  </head>



<!------------------------------------------ FOR MAIN.HANDLEBARS  -->
  <body>
    <div>
      <header>
        <nav
          class="flex items-center justify-between flex-wrap bg-slate-500 p-6"
        >
          <h1 class="font-semibold text-slate-50 text-3xl tracking-tight">
            <a href="/">Vapour</a>
          </h1>

          <!-- need to add div  -->
          <div class="justify-end">
            <!-- {{#if loggedIn}} -->
            <a
              href="/dashboard"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
              >My Achievements</a
            >
            <button
              id="logout"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
            >
              Logout
            </button>
            <!-- {{else}} -->
            <a
              href="/login"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
              >Login</a
            >
            <!-- {{/if}} -->
          </div>
        </nav>
      </header>

      <main>
        <!-- {{{body}}} -->
      </main>








<!------------------------------------------ FOR LOGIN.HANDLEBARS  -->
<div>
    <!-- put the form in a div  -->
    <div class="flex flex-col justify-center items-center">
        <div class="w-full max-w-xl">
            <form class="login-form bg-white shadow-lg rounded-lg px-8 pt-3 pb-8 mb-4 mt-10">
                <h2 class="flex justify-center text-xl font-semibold border-b-2 pb-2">Login</h2>
                <div class="mt-4 mb-4">
                    <label for="email-login">Email</label>
                    <input type="email"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Email" />
                </div>

                <div class="mb-5">
                    <label for="password-login">Password</label>
                    <input type="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="******************" />
                </div>

                <!-- put button and sign up option in a div  -->
                <div class="flex items-center justify-between">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Login
                    </button>
                    <a href="/signup"
                        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Sign
                        up instead</a>
                </div>
            </form>
        </div>
    </div>
</div>




<!------------------------------------------ FOR SIGNUP.HANDLEBARS  -->
<div>
    <div>
        <h2>Sign Up</h2>
    </div>

    <div>
        <form class="signup-form">
            
            <div>
                <label for="email-signup">Email</label>
                <input id="email-signup" type="email" />
            </div>

            <div>
                <label for="steamid-signup">Steam ID</label>
                {{!-- "type="integer" doesn't exist in HTML. Let's try to add back in minlength="17" and maxlength="17"
                once this can be navigated (my idea for forcing the input to be exactly 17 numbers)--}}
                <input id="steamid-signup" />
            </div>

            <div>
                <label for="password-signup">Password</label>
                <input id="password-signup" type="password" />
            </div>

            <button type="submit">Sign Up</button>
            <a href="/login">Login instead</a>

        </form>
    </div>
</div>

<script src="/js/signup.js"></script>







<!------------------------------------------ FOR DASHBOARD.HANDLEBARS  -->













    </div>

    <!-- {{#if loggedIn}} -->
    <script src="/js/logout.js"></script>
    <!-- {{/if}} -->
  </body>
</html>
