<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/styles.css" rel="stylesheet" />
    <!-- tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>

    <title>Steam Achievement Picker</title>
  </head>



<!------------------------------------------ FOR MAIN.HANDLEBARS  -->
  <body class="bg-gray-50">
    <div>
      <header>
        <!-- bg to sky 700  -->
        <nav
          class="fixed flex w-full items-center justify-between flex-wrap bg-sky-700 p-6"
        >
          <h1 class="font-semibold text-slate-50 text-3xl tracking-tight">
            <a href="/">Vapour</a>
          </h1>

          <!-- need to add div  -->
          <div class="justify-end">
            <!-- {{#if loggedIn}} -->
            <a
              href="/dashboard"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
              >My Achievements</a
            >
            <button
              id="logout"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
            >
              Logout
            </button>
            <!-- {{else}} -->
            <a
              href="/login"
              class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4"
              >Login</a
            >
            <!-- {{/if}} -->
          </div>
        </nav>
      </header>

      <main>
        <!-- {{{body}}} -->
      </main>



<!------------------------------------------ FOR LANDING PAGE  -->
<div>
  <!-- change text color  -->
  <!-- change bg-center to bottom to have vapor land on Welcome  -->
    <div class="text-center bg-gray-50 text-slate-100 py-24 px-6 bg-cover bg-no-repeat bg-bottom" style="background-image: url('../public/images/2863F8B3-BF09-4906-AF6A-3D2064EE4E81.jpg');">
    <div>
        <!-- add animate-pulse -->
        <h1 class="animate-pulse text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">Welcome to Vapour</h1>
    </div>

    <div>
        <h4 class="text-2xl font-bold tracking-tight mb-12">Track. Achieve. Repeat.</h4>
    </div>
    <!-- animate-bounce spin-->
    <a class="hover:animate-bounce inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Get started</a>

    </div>
</div>




<!------------------------------------------ FOR LOGIN.HANDLEBARS  -->
<div>
    <div class="flex flex-col justify-center items-center">
        <div class="w-full max-w-xl">
            <form class="login-form bg-white shadow-lg rounded-lg px-8 pt-3 pb-8 mb-4 mt-10">
                <h2 class="flex justify-center text-xl font-semibold border-b-2 pb-2">Login</h2>
                <div class="mt-4 mb-5">
                    <label for="email-login">Email</label>
                    <input type="email"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Email" />
                </div>

                <div class="mb-5">
                    <label for="password-login">Password</label>
                    <input type="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="******************" />
                </div>

                <!-- put button and sign up option in a div  -->
                <div class="flex items-center justify-between">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Login
                    </button>
                    <a href="/signup"
                        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Sign
                        up instead</a>
                </div>
            </form>
        </div>
    </div>
</div>




<!------------------------------------------ FOR SIGNUP.HANDLEBARS  -->
<div class="flex flex-col justify-center items-center">
    <div class="w-full max-w-xl">
        <form class="signup-form bg-white shadow-lg rounded-lg px-8 pt-3 pb-8 mb-4 mt-10">
            <h2 class="flex justify-center text-xl font-semibold border-b-2 pb-2">Sign Up</h2>
            <div class="mt-4 mb-5">
                <label for="email-signup">Email</label>
                <input id="email-signup" type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Email" />
            </div>

            <div class="mt-4 mb-5">
                <label for="steamid-signup">Steam ID</label>
                <input id="steamid-signup" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Steam ID"/>
            </div>

            <div class="mt-4 mb-5">
                <label for="password-signup">Password</label>
                <input id="password-signup" type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="******************"/>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Sign
                    Up</button>
                <a href="/login" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Login
                    instead</a>
            </div>

        </form>
    </div>
</div>

<script src="/js/signup.js"></script>







<!------------------------------------------ FOR DASHBOARD.HANDLEBARS  -->

<!-- main container  -->
<div class="container mx-auto bg-white shadow-lg rounded-lg px-8 mt-10">

    <!-- container for random picker  -->
    <section class="random-generator-container border-b-2 pt-3 pb-3">
        <div>
            <h3 class="flex justify-center text-xl font-semibold mt-10 pb-2">
                Not sure what to play next?
            </h3>
            <div class="flex justify-center">
                <button type="submit" class="generator-btn bg-indigo-500 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Help me pick a game</button>
            </div>
        </div>
    </section>
    
    <h2 class="flex justify-center text-xl font-semibold mt-10">Select from one of your games:</h2>
    <!-- container for owned game picker  -->
    <section class="owned-games-container grid grid-cols-4 gap-4 m-3 mb-12 p-6">

        <div class="card1 border rounded bg-white shadow-lg p-3">
            <div>
                <h4>Game Name Goes Here</h4>
            </div>
            <div><img src="" alt="Game Image" /></div>
        </div>

        <div class="card2 border rounded bg-white shadow-lg p-3">
            <div>
                <h4>Game Name Goes Here</h4>
            </div>
            <div><img src="" alt="Game Image" /></div>
        </div>

        <div class="card3 border rounded bg-white shadow-lg p-3">
            <div>
                <h4>Game Name Goes Here</h4>
            </div>
            <div><img src="" alt="Game Image" /></div>
        </div>

        <div class="card4 border rounded bg-white shadow-lg p-3">
            <div>
                <h4>Game Name Goes Here</h4>
            </div>
            <div><img src="" alt="Game Image" /></div>
        </div>
    </section>

</div>























    </div>

    <!-- {{#if loggedIn}} -->
    <script src="/js/logout.js"></script>
    <!-- {{/if}} -->
  </body>
</html>
