<div>
  <div>
    <h2>Sign Up</h2>
  </div>

  <div>
    <form class="signup-form">
      {{!-- <div>
        <label for="username-signup">Username</label>
        <input type="text" />
      </div> --}}

      {{! -------- Div for email? ----------}}
      <div>
        <label id="email-signup" for="email-signup">Email</label>
        <input type="email" />
      </div> 

      <div>
        <label id="steamid-signup" for="steamid-signup">Steam ID</label>
        <input type="integer" />
      </div>

      <div>
        <label id="password-signup" for="password-signup">Password</label>
        <input type="password" />
      </div>

      <button type="submit">Sign Up</button>
      <a href="/login">Login instead</a>

    </form>
  </div>
</div>

<script src="/js/signup.js"></script>