<div>
  <div>
    <h2>Sign Up</h2>
  </div>

  <div>
    <form class="signup-form">
      {{!-- <div>
        <label for="username-signup">Username</label>
        <input type="text" />
      </div> --}}

      {{! -------- Div for email? ----------}}
      <div>
        <label for="email-signup">Email</label>
        <input id="email-signup" type="email" />
      </div> 

      <div>
        <label for="steamid-signup">Steam ID</label>
        {{!-- "type="integer" doesn't exist in HTML.  Let's try to add back in minlength="17" and maxlength="17" once this can be navigated (my idea for forcing the input to be exactly 17 numbers)--}}
        <input id="steamid-signup"/>
      </div>

      <div>
        <label for="password-signup">Password</label>
        <input id="password-signup" type="password" />
      </div>

      <button type="submit">Sign Up</button>
      <a href="/login">Login instead</a>

    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
