<!-- this container will display the achievement name, as well as the achievement description & when it was unlocked -->
<div class="single-achievement-container">
  <div>
    <h3>{{achievement.name}}</h3>
  </div>
  <div>
    <p>{{achievement.description}}</p>
    <p>{{achievement.unlocked}}</p>
  </div>
</div>

<!-- this container is for the note text box -->
<form class="note-form-container">
  <div>
    <textarea name="note-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Note</button>
  </div>
</form>

<!-- what happens after note has been added, how do we display it? do we use a partial? -->