<!-- this container will display the achievement name, as well as the achievement description & when it was unlocked -->
<div class="my-20 h-screen place-content-center">
  <div
    class="single-achievement-container flex flex-col justify-center items-center my-12"
  >
    <div class="flex border rounded bg-white shadow-lg p-3">
      <i class="fa-sharp fa-solid fa-shield-halved"></i>
      <h3>{{achievement.name}}</h3>
      <i class="fa-sharp fa-solid fa-shield-halved"></i>
    </div>
  </div>

  <!-- this container is for the note text box -->
  <form class="note-form-container flex flex-col justify-center items-center">
    <div class="w-1/2">
      <textarea
        name="note-body"
        class="flex border rounded bg-white shadow-lg p-3 w-full"
      ></textarea>
    </div>

    <div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-2"
      >
        Add Note
      </button>
    </div>
  </form>
</div>

<!-- what happens after note has been added, how do we display it? do we use a partial? -->