<!-- this container will display the achievement name, as well as the achievement description & when it was unlocked -->
<div class="my-20 h-screen place-content-center">
  <div
    class="single-achievement-container flex flex-col justify-center items-center my-12"
  >
    <div class="flex border rounded bg-white shadow-lg p-3">
      <i class="fa-sharp fa-solid fa-shield-halved"></i>
      <h3 class="text-2xl">  {{achievements.name}}  </h3>
      <i class="fa-sharp fa-solid fa-shield-halved"></i>
    </div>
  </div>
  <div
    class="single-achievement-container flex flex-col justify-center items-center mt-12 mb-5"
  >
    <div class="flex border-b-2 p-3">
      <h2 class="text-2xl"> Achievement Comments </h2>
    </div>
  </div>
  {{#each renderComments as |comment|}}
  <div
    class="single-achievement-container flex flex-col justify-center items-center"
  >
    <div class="flex shadow-lg p-3">
      <h3>Comment: {{comment.comment_body}} </h3>
      
    </div>
  </div>
    <div
    class="single-achievement-container flex flex-col justify-center items-center "
  >
    <div class="flex p-3 mb-5">

      <p>Posted by user: {{comment.user_id}} at {{comment.createdAt}}</p>
    </div>
  </div>
  {{/each}}

  <!-- this container is for the note text box -->
  <form class="note-form-container flex flex-col justify-center items-center">
    <div class="w-1/2" >
      <h4>Share a comment about this achievement!</h4>
      <textarea
        name="note-body"
        class="flex border rounded bg-white shadow-lg p-3 w-full"
        id="feeback_text"
      ></textarea>
    </div>

    <div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-2" id="submit_btn"
      >
        Add Note
      </button>
    </div>
  </form>
</div>

<script src="/js/submit-feedback.js"></script>

<!-- what happens after note has been added, how do we display it? do we use a partial? -->