img {
    height: 120px;
    width: 120px;
    animation-duration: 2.5s;
    animation-name: slidein;
  }

  .title-div {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }