img.gif {
    height: 80%;
    width: 60%;
    margin: auto;
}
    
img.game-image {
  height: 110px;
  width: 120px;

}

.achievement-name-container {
    animation-duration: 2.5s;
    animation-name: slidein;
}

img.dashboard-game-image {
    height: 50%;
    width: 50%;
    animation-duration: 2.5s;
    animation-name: slidein;
}

.title-div {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
