<div>
    <div>
        <h2>Your Next Adventure:</h2>
    </div>

    <article>
        <div>
            {{!-- Game Box Art Image will go here--}}
            <img>
        </div>

        <div>
            <div>
                {{!-- Specific Achievement Name goes here  --}}
                <h6>Achievement Name</h6>
            </div>

            <div>
                {{!-- Achievement Image will go here  --}}
                <img>
            </div>

            <div>
                {{!-- Achievement Description/Requirements to unlock go here  --}}
                <p></p>
            </div>
        </div>
    </article>
    



</div>